<div class="row col-sm-6 col-sm-offset-3">
	<div class="panel">
		<h1>Login</h1>
		<form ng-submit="login.doLogin()">
			<!--	Username Input		-->
			<div class="form-group">
				<label for="Username">Username</label>
				<input type="text" class="form-control" ng-model="login.loginData.username" required>
			</div>
			<!--	Password Input		-->
			<div class="form-group">
				<label for="Password">Password</label>
				<input type="password" class="form-control" ng-model="login.loginData.password" required>
			</div>
			<!--	Login Button		-->
			<div class="form-group">
				<div class="alert alert-danger" ng-if="login.error"><i class="fa fa-exclamation"></i> {{ login.error }}</div>
				<button type="submit" class="btn btn-block btn-primary">
					<span ng-if="!login.processing">Login</span>
					<span ng-if="login.processing" class="spinner"><span class="fa fa-spinner"></span></span>
				</button>
			</div>
		</form>
	</div>
</div>
