html {
       overflow-y: scroll;
}
 body{
   background: #F1EAED;
 }
.home-ticket{
  max-width: 100%;
  margin-right: auto;
  margin-left : auto;
  padding-top: 10px;
  border-top: 6px #A0A0A0  solid;
  border-bottom: 3px #CED0CE solid;
  background: #fff;
}

.home-ticket.orange{
  border-top: 6px #DC8037  solid;
  border-bottom: 3px #F5AC72  solid;
}

.padding-45{
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.full-width{
  width: 100%;
}

#content-views{ position: relative}

.ng-enter, .ng-leave {
	width: 100%;
	position: absolute;
}

.spinner{
	animation: spin 1s infinite;
	-webkit-animation: spin 1s infinite;
	-moz-animation: spin 1s infinite;
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to 	 { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	from { transform: rotate(0deg); }
	to 	 { transform: rotate(360deg); }
}
@-moz-keyframes spin {
	from { transform: rotate(0deg); }
	to 	 { transform: rotate(360deg); }
}
