html {
       overflow-y: scroll;
}

#content-views{ position: relative}

.ng-enter, .ng-leave {
	width: 100%;
	position: absolute;
}

.spinner{
	animation: spin 1s infinite;
	-webkit-animation: spin 1s infinite;
	-moz-animation: spin 1s infinite;
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to 	 { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	from { transform: rotate(0deg); }
	to 	 { transform: rotate(360deg); }
}
@-moz-keyframes spin {
	from { transform: rotate(0deg); }
	to 	 { transform: rotate(360deg); }
}
