html {
       overflow-y: scroll;
}
 body{
   background: #F9F9F9;
   margin-bottom:-300px;
 }

 footer{
 	position: relative;
 	bottom: 0;
  height: 200px;
 }

 @media (max-height:800px){
  footer { position: static; }
 	header { padding-top:40px; }
 }
 .footer-basic-centered{
 	background-color: #FF781D;
 	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
 	box-sizing: border-box;
 	width: 100%;
 	text-align: center;
 	font: normal 18px sans-serif;
 	padding: 45px;
 	margin-top: 80px;
 }

 .footer-basic-centered .footer-company-motto{
 	color:  #000;
 	font-size: 24px;
 	margin: 0;
 }

 .footer-basic-centered .footer-company-name{
 	color:  #000;
 	font-size: 14px;
 	margin: 0;
 }

 .footer-basic-centered .footer-links{
 	list-style: none;
 	font-weight: bold;
 	color:  #ffffff;
 	padding: 35px 0 23px;
 	margin: 0;
 }

 .footer-basic-centered .footer-links a{
 	display:inline-block;
 	text-decoration: none;
 	color: inherit;
 }

 /* If you don't want the footer to be responsive, remove these media queries */

 @media (max-width: 600px) {

 	.footer-basic-centered{
 		padding: 35px;
 	}

 	.footer-basic-centered .footer-company-motto{
 		font-size: 18px;
 	}

 	.footer-basic-centered .footer-company-name{
 		font-size: 12px;
 	}

 	.footer-basic-centered .footer-links{
 		font-size: 14px;
 		padding: 25px 0 20px;
 	}

 	.footer-basic-centered .footer-links a{
 		line-height: 1.8;
 	}
 }

 .button{
   padding: 1rem 1rem 1.0625rem 1rem;
 }

.home-ticket{
  max-width: 100%;
  margin-right: auto;
  margin-left : auto;
  padding: 1rem;
  margin-top: 1rem;
  border-top: 6px #A0A0A0  solid;
  border-bottom: 3px #CED0CE solid;
  background: #fff;
  border-radius : 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.home-ticket.orange{
  border-top: 6px #DC8037  solid;
  border-bottom: 3px #F5AC72  solid;
}

.home-ticket.purple{
  border-top: 6px #730871 solid;
  border-bottom: 3px #924C91 solid;
}

.padding-45{
  padding-top: 4vh;
  padding-bottom: 4vh;
}

.full-width{
  width: 100%;
}

.profile-card {
  padding: 1rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #fff;
}

.full-width {
  max-width: 1400px;
}

.footer {
  background-color: #2980b9;
  padding: 2rem 4rem;
  text-align: center;
  color: #fff;
}
.footer i {
  font-size: 100px;
}

.footer h4 {
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 2.5rem;
  margin-bottom: 10px;
}
.footer p, .footer a {
  font-weight: 300;
  font-size: .8em;
  color: #fff;
}

@media only screen and (min-width: 40.063em) {
  .footer .columns:nth-child(n+2) {
    border-left: 1px solid #b3b3b3;
    min-height: 280px;
  }
}
.footer-links {
  list-style-type: none;
}
.footer-links li {
  margin-top: .5em;
}



#content-views{ position: relative}

.ng-enter, .ng-leave {
	width: 100%;
	position: absolute;
}



.spinner{
	animation: spin 1s infinite;
	-webkit-animation: spin 1s infinite;
	-moz-animation: spin 1s infinite;
}

@keyframes spin {
	from { transform: rotate(0deg); }
	to 	 { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
	from { transform: rotate(0deg); }
	to 	 { transform: rotate(360deg); }
}
@-moz-keyframes spin {
	from { transform: rotate(0deg); }
	to 	 { transform: rotate(360deg); }
}
