<div class="row padding-45">
  <aside class="columns medium-3 panel radius profile-card">
    <p class=text-center>
      <i class="fa fa-futbol-o fa-5x"></i>
    </p>
    <ul class="side-nav">
      <li class="active">
        <span class="subheader">Name: </span>{{ student.studentData.name }}</li>
      <li class="divider"></li>
      <li>
        <span class="subheader">Age: </span> {{student.calculateAge(student.studentData.dob)}} </li>
      <li class="divider"></li>
      <li></li>
      <li>
        <button ng-click="student.toggleEdit()" class="button secondary expand radius" type="button" name="button">Edit</button>
      </li>
    </ul>
  </aside>


  <main class="columns medium-9">
    <ul class="button-group text-center even-3">
      <li><a href="students/{{ student.student_id }}/math" class="button small radius">Math <i class="fa fa-calculator"></i></a></li>
      <li><a href="students/{{ student.student_id }}/ela" class="button small radius">ELA <i class="fa fa-book"></i></a></li>
      <li><a href="students/{{ student.student_id }}/comment" class="button small radius">Comments <i class="fa fa-comments"></i></a></li>
    </ul>


    <!-- COMMENTS -->
    <div class="small-12">
      <div class="home-ticket purple" ng-repeat="comment in student.studentData.comments">
        <strong class="subheader">{{ comment.comment_type }}</strong>
        <p class="small">
          <small><i> Posted on: {{ comment.posted_date | date: 'MM/dd/yyyy @ h:mm'}} </i></small>
        </p>
        {{ comment.comment_body }}
      </div>
      <form class="padding-45" ng-submit="student.comment()">
        <label>Comment Type:
          <select class="radius small-12 medium-4" name="" ng-model="student.commentData.comment_type">
            <option value="Behavior">Behavior</option>
            <option value="Academic">Academic</option>
            <option value="General">General</option>
          </select>
        </label>
        <label>Leave a comment:
          <textarea class="radius" ng-model="student.commentData.comment_body" name="name" rows="8" cols="40" placeholder="Comment..."></textarea>
        </label>
        <button class="button secondary radius" type="submit" name="button">Comment</button>
      </form>
    </div>
  </main>
</div>
