<div class="row  padding-45">
  <aside class="columns medium-3 panel">
    <p class=text-center>
      <i class="fa fa-futbol-o fa-5x"></i>
    </p>
    <p>
      {{ student.studentData.message.name }}
    </p>
  </aside>
  <main class="columns medium-9">
    <ul class="button-group text-center even-3">
      <li><a ng-click="student.setTab('math')" class="button">Math <i class="fa fa-calculator"></i></a></li>
      <li><a ng-click="student.setTab('ela')" class="button">ELA <i class="fa fa-book"></i></a></li>
      <li><a ng-click="student.setTab('comments')" class="button">Comments <i class="fa fa-comments"></i></a></li>
    </ul>

    <div class="small-12">
      <ul class="small-block-grid-2 medium-block-grid-3" ng-show="student.tab == 'ela'">
        <li>
          <div class="home-ticket orange text-center">
            <h4 class="subheader">Letters</h4>
            <p>
              {{ student.studentData.message.ela.letters }}
            </p>
            {{ student.studentData.message.ela.letters / 10 * 100 | number : 0}}%
            <div class="progress success radius">
              <span class="meter" style="width: {{ student.studentData.message.ela.letters / 10 * 100 }}%"></span>
            </div>
          </div>
        </li>
        <li>
          <div class="home-ticket orange text-center">
            <h4 class="subheader">Sounds</h4>
            <p>
              {{ student.studentData.message.ela.Sounds }}
            </p>
            {{ student.studentData.message.ela.Sounds / 36 * 100 | number : 0}}%
            <div class="progress success radius">
              <span class="meter" style="width: {{ student.studentData.message.ela.Sounds / 36 * 100 }}%"></span>
            </div>
          </div>
        </li>
        <li>
          <div class="home-ticket orange text-center">
            <h4 class="subheader">Reading Level</h4>
            <p>
              {{ student.studentData.message.ela.reading_level }}
            </p>
            {{ student.studentData.message.ela.reading_level / 100 * 100 | number : 0}}%
            <div class="progress success radius">
              <span class="meter" style="width: {{ student.studentData.message.ela.reading_level / 100 * 100 }}%"></span>
            </div>
          </div>
        </li>
      </ul>
    </div>


    <div class="small-12" ng-show="student.tab == 'math'">
      <ul class="small-block-grid-2 medium-block-grid-3">
        <li>
          <div class="home-ticket text-center">
            <h4 class="subheader">ROTE</h4>
            <p>
              {{ student.studentData.message.math.rote }}
            </p>
            {{ student.studentData.message.math.rote / 10 * 100 | number : 0}}%
            <div class="progress success radius">
              <span class="meter" style="width: {{ student.studentData.message.math.rote / 10 * 100 }}%"></span>
            </div>
          </div>
        </li>
        <li>
          <div class="home-ticket text-center">
            <h4 class="subheader">Number of Objects</h4>
            <p>
              {{ student.studentData.message.math.num_objects }}
            </p>
            {{ student.studentData.message.math.num_objects / 36 * 100 | number : 0}}%
            <div class="progress success radius">
              <span class="meter" style="width: {{ student.studentData.message.math.num_objects / 36 * 100 }}%"></span>
            </div>
          </div>
        </li>
        <li>
          <div class="home-ticket text-center">
            <h4 class="subheader">Fluent To</h4>
            <p>
              {{ student.studentData.message.math.fluent_to }}
            </p>
            {{ student.studentData.message.math.fluent_to / 100 * 100 | number : 0}}%
            <div class="progress success radius">
              <span class="meter" style="width: {{ student.studentData.message.math.fluent_to / 100 * 100 }}%"></span>
            </div>
          </div>
        </li>
        <li>
          <div class="home-ticket text-center">
            <h4 class="subheader">Patterns</h4>
            <p>
              {{ student.studentData.message.math.patterns }}
            </p>
            {{ student.studentData.message.math.patterns / 10 * 100 | number : 0 }}%
            <div class="progress success radius">
              <span class="meter" style="width: {{ student.studentData.message.math.patterns / 10 * 100 }}%"></span>
            </div>
          </div>
        </li>
        <li>
          <div class="home-ticket text-center">
            <h4 class="subheader">Numbers Identified</h4>
            <p>
              {{ student.studentData.message.math.num_id }}
            </p>
            {{ student.studentData.message.math.num_id / 95 * 100 | number : 0 }}%
            <div class="progress success radius">
              <span class="meter" style="width: {{ student.studentData.message.math.num_id / 95 * 100 }}%"></span>
            </div>
          </div>
        </li>
        <li>
          <div class="home-ticket text-center">
            <h4 class="subheader">Thinking</h4>
            <p>
              {{ student.studentData.message.math.thinking }}
            </p>
            {{ student.studentData.message.math.thinking / 100 * 100  | number : 0}}%
            <div class="progress success radius">
              <span class="meter" style="width: {{ student.studentData.message.math.thinking / 100 * 100 }}%"></span>
            </div>
          </div>
        </li>
        <li>
          <div class="home-ticket text-center">
            <h4 class="subheader">2D Shapes</h4>
            <p>
              {{ student.studentData.message.math.two_d_shapes }}
            </p>
            {{ student.studentData.message.math.two_d_shapes / 10 * 100 | number : 0 }}%
            <div class="progress success radius">
              <span class="meter" style="width: {{ student.studentData.message.math.two_d_shapes / 10 * 100 }}%"></span>
            </div>
          </div>
        </li>
        <li>
          <div class="home-ticket text-center">
            <h4 class="subheader">3D Shapes</h4>
            <p>
              {{ student.studentData.message.math.three_d_shapes }}
            </p>
            {{ student.studentData.message.math.three_d_shapes / 36 * 100 | number : 0 }}%
            <div class="progress success radius">
              <span class="meter" style="width: {{ student.studentData.message.math.three_d_shapes / 36 * 100 }}%"></span>
            </div>
          </div>
        </li>
        <li>
          <div class="home-ticket text-center">
            <h4 class="subheader">One Less</h4>
            <p>
              {{ student.studentData.message.math.one_less }}
            </p>
            {{ student.studentData.message.math.one_less / 100 * 100  | number : 0}}%
            <div class="progress success radius">
              <span class="meter" style="width: {{ student.studentData.message.math.one_less / 100 * 100 }}%"></span>
            </div>
          </div>
        </li>
        <li>
          <div class="home-ticket text-center">
            <h4 class="subheader">One More</h4>
            <p>
              {{ student.studentData.message.math.one_more }}
            </p>
            {{ student.studentData.message.math.one_more / 100 * 100 | number : 0 }}%
            <div class="progress success radius">
              <span class="meter" style="width: {{ student.studentData.message.math.one_more / 100 * 100 }}%"></span>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="small-12" ng-show="student.tab == 'comments'">
        <div class="home-ticket" ng-repeat="comment in student.studentData.message.comments">
          <strong class="subheader">{{ comment.comment_type }}</strong>
          <p class="small">
            <small><i> Posted on: {{ comment.posted_date | date: 'MM/dd/yyyy @ h:mm'}} </i></small>
          </p>
          {{ comment.comment_body }}
        </div>
        <form class="" ng-submit="student.comment()">
          <label>Comment Type:
            <select class="" name="" ng-model="student.commentData.comment_type">
              <option value="Disciplinary">Disciplinary</option>
              <option value="Academic">Academic</option>
              <option value="Comment">Comment</option>
            </select>
          </label>
          <label>Leave a comment:
            <textarea ng-model="student.commentData.comment_body" name="name" rows="8" cols="40" placeholder="Comment..."></textarea>
          </label>
          <button class="button secondary radius" type="submit" name="button">Comment</button>
        </form>
    </div>
  </main>
</div>
