<div class="row padding-45">
  <aside class="columns medium-3 panel radius profile-card">
    <p class=text-center>
      <i class="fa fa-futbol-o fa-5x"></i>
    </p>
    <ul class="side-nav">
      <li class="active">
        <span class="subheader">Name: </span>{{ student.studentData.name }}</li>
      <li class="divider"></li>
      <li>
        <span class="subheader">Age: </span> {{student.calculateAge(student.studentData.dob)}} </li>
      <li class="divider"></li>
      <li></li>
      <li class="text-center">
        <button ng-click="student.toggleEdit()" class="button secondary expand radius" type="button" name="button">Edit</button>
      </li>
    </ul>
  </aside>


  <main class="columns medium-9">
    <ul class="button-group text-center even-3">
      <li><a href="students/{{ student.student_id }}/math" class="button small radius">Math <i class="fa fa-calculator"></i></a></li>
      <li><a href="students/{{ student.student_id }}/ela" class="button small radius">ELA <i class="fa fa-book"></i></a></li>
      <li><a href="students/{{ student.student_id }}/comment" class="button small radius">Comments <i class="fa fa-comments"></i></a></li>
    </ul>


    <!-- ELA -->
    <div class="small-12">
      <form class="" ng-submit="student.saveStudent()">
      <ul class="small-block-grid-2 medium-block-grid-3">
        <li>
          <div class="home-ticket orange text-center radius">
            <h4 class="subheader">Letters</h4>
            <p>
              <span ng-hide="student.edit == true">{{ student.studentData.ela.letters }}</span>
              <input class="text-center" ng-show="student.edit == true" type="text" ng-model="student.studentData.ela.letters" name="name" value="">
            </p>
            {{ student.studentData.ela.letters / 10 * 100 | number : 0}}%
            <div class="progress success radius">
              <span class="meter" style="width: {{ student.studentData.ela.letters / 10 * 100 }}%"></span>
            </div>
          </div>
        </li>
        <li>
          <div class="home-ticket orange text-center">
            <h4 class="subheader">Sounds</h4>
            <p>
              <span ng-hide="student.edit == true">{{ student.studentData.ela.Sounds }}</span>
              <input class="text-center" ng-show="student.edit == true" type="text" ng-model="student.studentData.ela.Sounds" name="name" value="">
            </p>
            {{ student.studentData.ela.Sounds / 36 * 100 | number : 0}}%
            <div class="progress success radius">
              <span class="meter" style="width: {{ student.studentData.ela.Sounds / 36 * 100 }}%"></span>
            </div>
          </div>
        </li>
        <li>
          <div class="home-ticket orange text-center">
            <h4 class="subheader">Reading Level</h4>
            <p>
              <span ng-hide="student.edit == true">{{ student.studentData.ela.reading_level }}</span>
              <input class="text-center" ng-show="student.edit == true" type="text" ng-model="student.studentData.ela.reading_level" name="name" value="">
            </p>
            {{ student.studentData.ela.reading_level / 100 * 100 | number : 0}}%
            <div class="progress success radius">
              <span class="meter" style="width: {{ student.studentData.ela.reading_level / 100 * 100 }}%"></span>
            </div>
          </div>
        </li>
      </ul>
      <button ng-show="student.edit == true" type="submit" name="button">Update ELA</button>
      </form>
    </div>



  </main>
</div>
