<div class="row padding-45">
  <aside class="columns medium-3 panel radius profile-card">
    <p class=text-center>
      <i class="fa fa-futbol-o fa-5x"></i>
    </p>
    <ul class="side-nav">
      <li class="active">
        <span class="subheader">Name: </span>{{ student.studentData.name }}</li>
      <li class="divider"></li>
      <li>
        <span class="subheader">Age: </span> {{student.calculateAge(student.studentData.dob)}} </li>
      <li class="divider"></li>
      <li></li>
      <li class="text-center">
        <button ng-click="student.toggleEdit()" class="button secondary expand radius" type="button" name="button">Edit</button>
      </li>
    </ul>
    <canvas id="radar" class="chart chart-radar" chart-series="student.series"
      chart-data="student.data" chart-labels="student.labels">
    </canvas>
  </aside>


  <main class="columns medium-9">

    <ul class="button-group text-center even-3">
      <li><a href="students/{{ student.student_id }}/math" class="button small radius">Math <i class="fa fa-calculator"></i></a></li>
      <li><a href="students/{{ student.student_id }}/ela" class="button small radius">ELA <i class="fa fa-book"></i></a></li>
      <li><a href="students/{{ student.student_id }}/comment" class="button small radius">Comments <i class="fa fa-comments"></i></a></li>
    </ul>

    <canvas id="radar" class="chart chart-line"
      chart-data="student.data" chart-labels="student.labels" chart-options="{scaleSteps : 100,scaleStepWidth : 10,scaleStartValue : 0}">
    </canvas>
    <!-- MATH -->
    <div class="small-12">
      <form class="" ng-submit="student.saveStudent()">
        <div class="alert-box secondary" ng-show="student.message">
          {{ student.message }}
        </div>
        <ul class="small-block-grid-2 medium-block-grid-3">
          <li>
            <div class="home-ticket text-center">
              <h4 class="subheader">ROTE</h4>
              <p>
                <span ng-hide="student.edit == true">{{ student.studentData.math.rote }}</span>
                <input class="text-center" ng-show="student.edit == true" type="text" ng-model="student.studentData.math.rote" name="name" value="">
              </p>
              {{ student.studentData.math.rote / 100 * 100 | number : 0 }}%
              <div class="progress success radius">
                <span class="meter" style="width: {{ student.studentData.math.rote / 100 * 100 }}%"></span>
              </div>
            </div>
          </li>
          <li>
            <div class="home-ticket text-center">
              <h4 class="subheader">Number of Objects</h4>
              <p>
                <span ng-hide="student.edit == true">{{ student.studentData.math.num_objects }}</span>
                <input class="text-center" ng-show="student.edit == true" type="text" ng-model="student.studentData.math.num_objects" name="name" value="">
              </p>
              {{ student.studentData.math.num_objects / 32 * 100 | number : 0}}%
              <div class="progress success radius">
                <span class="meter" style="width: {{ student.studentData.math.num_objects / 32 * 100 }}%"></span>
              </div>
            </div>
          </li>
          <li>
            <div class="home-ticket text-center">
              <h4 class="subheader">Fluent To</h4>
              <p>
                <span ng-hide="student.edit == true">{{ student.studentData.math.fluent_to }}</span>
                <input class="text-center" ng-show="student.edit == true" type="text" ng-model="student.studentData.math.fluent_to" name="name" value="">
              </p>
              {{ student.studentData.math.fluent_to / 5 * 100 | number : 0}}%
              <div class="progress success radius">
                <span class="meter" style="width: {{ student.studentData.math.fluent_to / 5 * 100 }}%"></span>
              </div>
            </div>
          </li>
          <li>
            <div class="home-ticket text-center">
              <h4 class="subheader">Patterns</h4>
              <p>
                <span ng-hide="student.edit == true">{{ student.studentData.math.patterns }}</span>
                <input class="text-center" ng-show="student.edit == true" type="text" ng-model="student.studentData.math.patterns" name="name" value="">
              </p>
              {{ student.studentData.math.patterns / 1 * 100 | number : 0 }}%
              <div class="progress success radius">
                <span class="meter" style="width: {{ student.studentData.math.patterns / 1 * 100 }}%"></span>
              </div>
            </div>
          </li>
          <li>
            <div class="home-ticket text-center">
              <h4 class="subheader">Numbers Identified</h4>
              <p>
                <span ng-hide="student.edit == true">{{ student.studentData.math.num_id }}</span>
                <input class="text-center" ng-show="student.edit == true" type="text" ng-model="student.studentData.math.num_id" name="name" value="">
              </p>
              {{ student.studentData.math.num_id / 20 * 100 | number : 0 }}%
              <div class="progress success radius">
                <span class="meter" style="width: {{ student.studentData.math.num_id / 20 * 100 }}%"></span>
              </div>
            </div>
          </li>
          <li>
            <div class="home-ticket text-center">
              <h4 class="subheader">Thinking</h4>
              <p>
                <span ng-hide="student.edit == true">{{ student.studentData.math.thinking }}</span>
                <input class="text-center" ng-show="student.edit == true" type="text" ng-model="student.studentData.math.thinking" name="name" value="">
              </p>
              {{ student.studentData.math.thinking / 3 * 100 | number : 0}}%
              <div class="progress success radius">
                <span class="meter" style="width: {{ student.studentData.math.thinking / 3 * 100 }}%"></span>
              </div>
            </div>
          </li>
          <li>
            <div class="home-ticket text-center">
              <h4 class="subheader">2D Shapes</h4>
              <p>
                <span ng-hide="student.edit == true">{{ student.studentData.math.two_d_shapes }}</span>
                <input class="text-center" ng-show="student.edit == true" type="text" ng-model="student.studentData.math.two_d_shapes" name="name" value="">
              </p>
              {{ student.studentData.math.two_d_shapes / 5 * 100 | number : 0 }}%
              <div class="progress success radius">
                <span class="meter" style="width: {{ student.studentData.math.two_d_shapes / 5 * 100 }}%"></span>
              </div>
            </div>
          </li>
          <li>
            <div class="home-ticket text-center">
              <h4 class="subheader">3D Shapes</h4>
              <p>
                <span ng-hide="student.edit == true">{{ student.studentData.math.three_d_shapes }}</span>
                <input class="text-center" ng-show="student.edit == true" type="text" ng-model="student.studentData.math.three_d_shapes" name="name" value="">
              </p>
              {{ student.studentData.math.three_d_shapes / 4 * 100 | number : 0 }}%
              <div class="progress success radius">
                <span class="meter" style="width: {{ student.studentData.math.three_d_shapes / 4 * 100 }}%"></span>
              </div>
            </div>
          </li>
          <li>
            <div class="home-ticket text-center">
              <h4 class="subheader">One Less</h4>
              <p>
                <span ng-hide="student.edit == true">{{ student.studentData.math.one_less }}</span>
                <input class="text-center" ng-show="student.edit == true" type="text" ng-model="student.studentData.math.one_less" name="name" value="">
              </p>
              {{ student.studentData.math.one_less / 22 * 100 | number : 0}}%
              <div class="progress success radius">
                <span class="meter" style="width: {{ student.studentData.math.one_less / 22 * 100 }}%"></span>
              </div>
            </div>
          </li>
          <li>
            <div class="home-ticket text-center">
              <h4 class="subheader">One More</h4>
              <p>
                <span ng-hide="student.edit == true">{{ student.studentData.math.one_more }}</span>
                <input class="text-center" ng-show="student.edit == true" type="text" ng-model="student.studentData.math.one_more" name="name" value="">
              </p>
              {{ student.studentData.math.one_more / 22 * 100 | number : 0 }}%
              <div class="progress success radius">
                <span class="meter" style="width: {{ student.studentData.math.one_more / 22 * 100 }}%"></span>
              </div>
            </div>
          </li>
        </ul>
        <button ng-show="student.edit == true" type="submit" name="button">Update Math</button>
    </div>
    </form>
  </main>
</div>
